.profile {
    display: flex;
    flex-flow: column;
    margin: 5%;
}

.profile-title {
    display: flex;
    flex:1;
    flex-direction: row;  
    margin-left: 25px;  
    justify-content: flex-start    ;
}

.profile-info {
    display: flex;
    flex-flow: row;
}


.profile-image {
    flex: 4;
    align-items: center;
}

.image {
    height: 245px;
    width: 100%;
    object-fit: scale-down;
    display: block;
    overflow: hidden;
    z-index: -28;
}

.profile-form {
    display: flex;
    flex-flow: column;
    flex: 10;
}

.profile-menu {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.profile-detail {
    display: flex;
    flex-flow: column;
    flex:1
}

.profile-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.i {
 flex: 10
}

.l {
flex:2
}

.btn-primary {
    background-color: #20639B;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

