.profileRow {
    display: flex;
    flex-basis: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1%;
}

.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-image{
    height: 20%;
    width: 15%;
    margin-left: 43%;
    margin-top: -8%;
}

.greet{
    margin-top: 5%;
    font-size: 30px;
    color: #20639B;
}

label {
    margin-top: 1%;
    font-size: 20px;
    color: #20639B;
}
.btn-primary {
    background-color: #20639B;
}

.changePassword {
    width: 10em;
}

.edit {
    width: 10em;
}
