.App-nav {
    display: flex;
    font-size: 35px;
}
.Link {
    text-decoration-line: none;
    color: #20639B;
    margin-right: 35px;
}

.Nav-link-left {
    display: flex;
    justify-content: flex-start;
    justify-items: stretch;

}

.App-nav > .Nav-link-right {
    position: absolute;
    top: 5%;
    right: 8%;
}

.App-nav > .Nav-link-left {
    position: absolute;
    top: 5%;
    left: 8%;
}

.Nav-link-right {
    display: flex;
    justify-content: flex-end;
} 


