.homePage {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    overflow: hidden;
}
.book {  
    width: 15em;
    height: 18em;
    border: 1px solid black;
    margin: 10px;
    z-index: -50;
    background: black;
}

.book-image {
    height: 288px;
    width: 100%;
    object-fit: scale-down;
    display: block;
    overflow: hidden;
    z-index: -28;

}