.homePage {
    display: flex;
    flex-direction: column; 
    flex-flow: column;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.book {  
    position: relative;
    width: 15em;
    height: 20em;
    margin: 10px;
    z-index: 1;
    background: black;
}

.book-image {
    height: 245px;
    width: 100%;
    object-fit: scale-down;
    display: block;
    overflow: hidden;
}

.cart {
    border-radius: 50%;
    border: none;
    text-decoration: none;
    padding: 10px;
} 

.book-element {
    order: -1
}

.book-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 13px;
}

.detail-btn {
    margin: 10px;
} 

.search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.book-details {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}
.book-heading {
    display: flex;
    justify-content: left;
}
.book-data {
    display: flex;
    flex-direction: row;
}
.book-cover {
    display: flex;
    justify-content: left;
    flex: 4;
}
.book-description {
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex: 8;
}
.description {
    display: flex;
    flex-direction: row;
    flex: 4;
}
.add-to-cart {
    flex: 1;
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    z-index: 3;
    

}
.cart-btn {
    background-color: #20639B;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.book-title-lg {
    margin-left: 6px;
    font-size: 30px;
    margin-bottom: 0px;
}
.book-title-sm {
    color: #20639B;
    margin-left: 6px;
    font-size: 20px;
}
a {
    text-decoration: none;
}
.description-para {
    text-align: left;
    word-wrap: break-word;
}

.my-book {
  display: flex;
  flex-direction: row;  
  justify-content: center;

  flex-wrap: wrap;
}
.search {
    width: 50%;
    border-radius: 15px;
    border: 2px solid #20639B;
}
.mybook-btn{
    margin-right: 3px;
    z-index: 3;
}

