.row {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    height: 25em;
    margin-top: 10%;
    margin-left: 40%;
    padding-bottom: -70px;
}
login-h1 {
    margin-top: -10%;
    margin-bottom: 10%;
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 30px;
    color: #20639B;
}
input {
    width: 15rem;
    height: 3em;
    position: relative;
    text-align:center;
    margin: 1%;
    border: 1px solid black;
}

.btn-primary {
    margin: 2%;
    font-size: 1em;
    background-color: #20639B;
    color : #e5e5e5;
    width: 7em;
    height: 3em;
    margin-bottom: -50%;

}